.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.login-form {
    width: 500px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
}

.login-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}

.form-login-input-admin {
    height: 40px !important;
}
.login-form-button-admin {
    width: 100%;
}