.overview-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overview-customer, 
.overview-products, 
.overview-orders {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
    font-size: 20px;
}

.overview-customer {
    border-top: 10px solid #6699FF;
    border-left: 1px solid #6699FF;
    border-right: 1px solid #6699FF;
    border-bottom: 1px solid #6699FF;
    border-radius: 10px;
} 

.overview-products {
    border-top: 10px solid #33CC33;
    border-left: 1px solid #33CC33;
    border-right: 1px solid #33CC33;
    border-bottom: 1px solid #33CC33;
    border-radius: 10px;
}

.overview-orders {
    border-top: 10px solid #33CCFF;
    border-left: 1px solid #33CCFF;
    border-right: 1px solid #33CCFF;
    border-bottom: 1px solid #33CCFF;
    border-radius: 10px;
}

.overview-customer h3,
.overview-products h3,
.overview-orders h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.overview-customer h4,
.overview-products h4,
.overview-orders h4 {
    font-weight: 500;
    font-size: 26px;
    color: #FF9900;
}

.overvew-container {
    width: 100%;
    padding: 20px;
    height: 1200px;
}

.overview-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.overview-chart {
    width: 100%;
    height: 400px;
}

.overview-chart canvas {
    width: 100% !important;
    height: auto !important;
}
.year-selector {
    margin-bottom: 20px;
    padding: 5px 12px;
    border-radius: 8px;
}

.year-selector label {
    margin-right: 10px;
    font-weight: bold;
}