@media (max-width: 1023px) {


    .socialAccountLogin::before {
        left: -20px;
    }

    .socialAccountLogin::after {
        right: -20px;
    }
}

/* Table */
@media (min-width: 740px) and (max-width:1024px) {}

/* Mobile */
@media (max-width: 740px) {
    .login-container {
        display: block;
        padding: 32px 10px;
    }

    .login-container-left {
        display: none;
    }

    .login-container-right {
        margin: 0;
    }

    .login-container-right h1 {
        text-align: center;
    }
}